[package]
name = "error"
version = "0.0.0"

authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true


[dependencies]
gloo = { workspace = true }
ron = { workspace = true }
serde = { workspace = true }