@font-face {
    font-family: "Comfortaa";
    src: local(Comfortaa), url("../fonts/comfortaa.woff2");
}

@font-face {
    font-family: "Fira Mono";
    src: local(Fira Mono), url("../fonts/fira.woff2");
}

@font-face {
    font-family: "Inter";
    src: local(Inter)
}