@layer {
    * {
        scrollbar-width: auto  !important;
        scrollbar-color: hsl(var(--bc)) hsl(var(--b1))  !important;
    }
    
    ::-webkit-scrollbar {
        width: 4px  !important;
        cursor: grab  !important;
    }
    
    ::-webkit-scrollbar-track {
        background: hsl(var(--b1) / var(--tw-bg-opacity))  !important; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: hsl(var(--bc))  !important;
        border-radius: 6px  !important;
        border: 4px hsl(var(--bc)) solid  !important;
        background-clip: padding-box  !important;
    }
}